body{
    /*font-family: tahoma;*/
}
.txt{
    width: 300px;
    height: 150px;
}
.show{
    visibility: visible !important;
}
.hide{
    visibility: hidden !important;
}
.vac_show{
    visibility: visible
}